body {
  position: relative;
}

.first-half {
  display: none;
}

.second-half {
  padding: 15px;
}
form {
  font-family: AlmarenaDisplayRegular, sans-serif;
}
a {
  text-decoration: none;
}

.form-group {
  color: #797979;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
}

h1 {
  text-align: center;
}

input,
select {
  padding: 20px 10px;
  background-color: #f7f6f6;
  border: none;
  border-radius: 3px;
}
input:hover {
  border: 2px solid;
  transition: ease-in-out;
}

button {
  padding: 20px;
  margin: 0 auto;
  color: white;
  background-color: rgb(106, 111, 245);
  border-radius: 8px;
  border: none;
  display: block;
  width: 100%;
  font-size: 1em;
}
.terms {
  color: black;
  font-size: 1.2em;
}

.go-home {
  margin: 20px;
  display: block;
  text-align: center;
}


@media (min-width: 1000px) {
  .container {
    display: flex;
  }
  .first-half {
    display: block;
    background: #fffcf8;
    padding-top: 67px;
    width: 50%;
  }
  .form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .hear-about {
    display: block;
    width: 100%;
  }
  .passwords {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  h1 {
    display: none;
  }
  .sign-in {
    text-align: right;
  }
  section {
    background-color: white;
    margin: auto;
  }

  footer {
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .details p {
    color: black;
  }

  form {
    padding: 7rem;
    width: 55%;
    height: 100vh;
  }
  .sign-up {
    width: 55%;
    height: 100vh;
  }
  .details {
    text-align: center;
  }
}

