@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Matemasie&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sevillana&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  color: #182C61;
}

header {
  background: #fc427b;
  padding: 10px 20px;
  box-shadow: 3px 4px 11px -3px rgba(54,45,48,0.75);
-webkit-box-shadow: 3px 4px 11px -3px rgba(54,45,48,0.75);
-moz-box-shadow: 3px 4px 11px -3px rgba(54,45,48,0.75);
}

.logo h1 {
  text-align: center;
  font-family: "Matemasie", sans-serif;
  color: #fff;
  margin: 0px;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: #182C61;
  
}

nav {
  margin-top: 10px;
  border-radius: 50px;
  background: #ecf0f1;
  padding: 1px;
  box-shadow: 3px 4px 11px -3px rgba(54,45,48,0.75);
-webkit-box-shadow: 3px 4px 11px -3px rgba(54,45,48,0.75);
-moz-box-shadow: 3px 4px 11px -3px rgba(54,45,48,0.75);
  
}

.button {
  background: #fc427b;
  color: #ffffff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
}

a.active {
  color: #fc427b;;
}

footer {
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0px;
}

.content {
  box-shadow: 3px 4px 11px -3px rgba(252,66,123,0.75);
-webkit-box-shadow: 3px 4px 11px -3px rgba(252,66,123,0.75);
-moz-box-shadow: 3px 4px 11px -3px rgba(252,66,123,0.75);
  padding: 5px 20px;
  margin: 12px;
  margin-top: 25px;
  border-radius: 3px;
}