body {
  text-align: left;
  background-color: aliceblue;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
}
li {
  font-size: 20px;
  color: black;
}
